<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>CC Application Form</title>
</head>

<body>
    <!--Nav Bar-->
   <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            <a href="#" class="navbar-brand">CC Application Form</a>
        </div>
    </nav>
    <center>
        <h1 class="title">CC Application Form</h1>

        <form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br><br>
  <label for="fname">Product:</label><br>
  <select name="credit card" id="cc">
    <option value="blank">blank</option>
    <option value="Silver">Silver Card</option>
    <option value="Gold">Gold Card</option>
    <option value="Platinum">Platinum Card</option>
  </select>
  <br><br>
  <label for="fname">ID Proof</label><br>
  <input type="file" 
               id="file1" 
               name="upload" style="text-align:center;"><br><br>
<label for="fname">Address Proof</label><br>
  <input type="file" 
               id="file2" 
               name="upload" style="text-align:center;"><br><br>
<label for="fname">Income Proof</label><br>
  <input type="file" 
               id="file3" 
               name="upload" style="text-align:center;"><br><br>
    <label for="fname">Profile:</label><br>
    <select name="profile" id="cars">
    <option value="blank">blank</option>
    <option value="New">New</option>
    <option value="Existing">Existing</option>
  </select><br><br>
  <input type="submit" value="Submit">
</form> 
    </center>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>
