 {%load static%} {%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/Register.css'%}">
    <title>Sign up</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="#" class="sign-up-form" method="POST">
                    <h2 class="title">REGISTER</h2>
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="fas fa-user"></i> {{form.username}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i> {{form.email}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i> {{form.password1}}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i> {{form.password2}}
                    </div>
                    <input type="submit" class="btn" name="Create User" value="Register Account" /> {{form.errors}}
                    <p class="social-text">Or Sign up with social platforms</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Click This Button to Register Your Account
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
                </div>
                <img src="{% static 'Images/index/img-1.jfif' %}" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        If Already Register, Please Click This Button for Sign In
                    </p>
                    <tr>
                        <td><a href="{% url 'Login' %}" class="btn btn-color slide-btn btn-lg">
              Sign in
            </a></td>
                    </tr>
                </div>
                <img src="{% static 'Images/index/img-1.jfif' %}" class="image" alt="" />
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script>
        var form_fields = document.getElementsByTagName("input")
        form_fields[1].placeholder = 'Username...';
        form_fields[2].placeholder = 'Email...';
        form_fields[3].placeholder = 'Enter Password...';
        form_fields[4].placeholder = 'Re-Enter Password...';
    </script>
</body>

</html>


{%endblock content%}