<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="Page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>Line Page</title>
</head>

<body>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
            <a href="#" class="navbar-brand">FISHING TACKLE</a>
            <i class="fas fa-fish fa-2x" style="color: white"></i>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Service</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Brand</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a href="Cart.html" class="nav-link">
                            <i class="fa fa-shopping-cart fa-2x" style="color: white"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Slider-->
    <section id="main">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
                <li data-target="#Carousel" data-slide-to="3"></li>
                <li data-target="#Carousel" data-slide-to="4"></li>
                <li data-target="#Carousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-middle mb-5">
                            <h1 class="display-3 title-color">Title One</h1>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Title Two</h1>
                            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas temporibus suscipit earum excepturi quidem beatae ullam tempore adipisci ratione.</p>
                            <a href="#" class="btn btn-color slide-btn btn-lg">
                                     Learn More!
                                   </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Title Three</h1>
                            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas temporibus suscipit earum excepturi quidem beatae ullam tempore adipisci ratione.</p>
                            <a href="#" class="btn btn-color slide-btn btn-lg">
                            Learn More!
                          </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-4">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Title Four</h1>
                            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas temporibus suscipit earum excepturi quidem beatae ullam tempore adipisci ratione.</p>
                            <a href="#" class="btn btn-color slide-btn btn-lg">
                            Learn More!
                          </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-5">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Title Five</h1>
                            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas temporibus suscipit earum excepturi quidem beatae ullam tempore adipisci ratione.</p>
                            <a href="#" class="btn btn-color slide-btn btn-lg">
                            Learn More!
                          </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-image-6">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 title-color">Title Six</h1>
                            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas temporibus suscipit earum excepturi quidem beatae ullam tempore adipisci ratione.</p>
                            <a href="#" class="btn btn-color slide-btn btn-lg">
                            Learn More!
                          </a>
                        </div>
                    </div>
                </div>
                <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#Carousel" data-slide="next" class="carousel-control-next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
    <!--End Slider-->
    <!--Feature Product-->
    <section id="products" class="products py-5">
        <div class="container">
            <!--Section title-->
            <div class="row">
                <div class="col-10 mx-auto col-sm-6 text-center">
                    <h1 class="text-capitalize product-title">
                        Categories Products
                    </h1>
                </div>
            </div>
            <!--End Section Title-->
            <!--Product Item-->
            <div class="row product item" id="product-items">
                <!--Single Item-->
                <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                    <div class="card single-item">
                        <div class="img-container">
                            <a href="Rod Page.html">
                                <img src="Image/homePage/rod category.jfif" alt="" class="card-img-top product-img">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="item-name">Rod</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Item-->
                <!--Single Item-->
                <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                    <div class="card single-item">
                        <div class="img-container">
                            <a href="Line Page.html">
                                <img src="Image/homePage/line category.jfif" alt="" class="card-img-top product-img">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="item-name">Line</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Item-->
                <!--Single Item-->
                <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                    <div class="card single-item">
                        <div class="img-container">
                            <a href="Lure Page.html">
                                <img src="Image/homePage/lure category.jfif" alt="" class="card-img-top product-img">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="item-name">Lures</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Item-->
                <!--Single Item-->
                <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                    <div class="card single-item">
                        <div class="img-container">
                            <a href="Reel Page.html">
                                <img src="Image/homePage/reel category.jfif" alt="" class="card-img-top product-img">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="item-name">Reel</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Item-->
                <!--Single Item-->
                <div class="col-10 col-sm-8 col-lg-4 mx-auto my-3">
                    <div class="card single-item">
                        <div class="img-container">
                            <a href="Accessories Page.html">
                                <img src="Image/homePage/accessories category.jfif" alt="" class="card-img-top product-img">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between text-capitalize">
                                <h5 id="item-name">Fishing Accessories</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Item-->
            </div>
            <!--End Product Item-->
        </div>
    </section>
    <!--End Feature Product-->
    <!--Trending Item-->
    <section>
        <div class="product-panel">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2 class="text-center">Trending-item</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="product-detail">
                            <!--end tabs-->
                            <div class="tab-content" id="myTabContent">
                                <!--Single Tab-->
                                <div class="tab-pane fade show active" id="Rod" role="tabpanel">
                                    <div class="tab-single">
                                        <div class="row">
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-1.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">PowerPro Braided Fishing Line Red 150yds.</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM50.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-2.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Spiderwire Ultracast Braid, Superline, 65lb test, 328yd , Inshore Camo, Boxed</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM60.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-3.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Shimano Power Pro Braided Fishing Line 300 Yards Moss Green PowerPro NEW @ Otto'</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM70.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-4.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Sufix 832 Advanced Ice Braid Neon Lime 50yd 10lb Test Fishing Line 671-010L</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM25.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-5.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Maxima Ultragreen Leader Tippet Wheel Spools - Size 12 lb - New</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM22.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-6.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">P-Line CXX X-Tra Strong Moss Green Copolymer Fishing Line 300 yd Select Lb. Test</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM27.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-7.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Stren Magnaflex 25lb 1000 Yds Fishing Line Smoke Green</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM45.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-8.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Ohero Adrena-line Braided Fishing Line 150 Yard Spool HV Yellow 25 LB</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM30.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-9.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Seaguar Fluoro Premier 100 Fluorocarbon Leader 25 Yds 80lb</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM80.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-10.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">1100 Yard Fishing braided Fishing Line 10/ 12/ 15/ 20/ 25/ 30/ 40/ 50/ 65/ 80LB</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM34.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-11.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Seaguar 30FP50 Clear Fluoro Premier 50 Yds 30 Lbs Fluorocarbon Fishing Line</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM40.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                            <!--Start-->
                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img src="Image/homePage/Line/img-12.jfif" class="main-img" alt="#">

                                                        </a>
                                                        <div class="button-head">
                                                            <div class="action-button">
                                                                <a data-toggle="modal" data-target="#examplemodal" title="Quick view" href="#">
                                                                    <i class="far fa-eye"></i><span>Quick shop</span>
                                                                </a>
                                                                <a title="Wishlist" href="#"><i class ="far fa-heart"></i>
                                                                <span>Add to Wishlist</span></a>
                                                                <a title="Shopping" href="#"><i class ="fas fa-shopping-cart"></i>
                                                                <span>Add to Cart</span></a>
                                                            </div>
                                                            <br>
                                                        </div>
                                                        <div class="product-title">
                                                            <h3><a href="">Rovex 10X Formula Monofilament Fishing Line Mono 300 metres 25 and 30 lb NEW</a></h3><br>
                                                            <div class="Product-price">
                                                                <span style="color:black">RM26.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End-->
                                        </div>
                                    </div>
                                    <!--End Single Tab-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <!--End Trending Item-->
    <footer class="footer mt-5">
        <div class="text-center py-5">
            <h2 class="py-3">Fishing Store</h2>
            <div class="mx-auto heading-line"></div>
        </div>
        <div class="container">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="justify-content-center">
                            <i class="fab fa-facebook fa-2x"></i>
                            <i class="fab fa-twitter fa-2x"></i>
                            <i class="fab fa-instagram fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center py-3 border-top text-light">
                    <p>&copy; Copy Right Fishing Store</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>